app/schemas/cra_errors_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cra-arc.gc.ca/xmlns/efile/errors/1.0"
           xmlns="http://www.cra-arc.gc.ca/xmlns/efile/errors/1.0"
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>Sample CRA EFILE error catalogue schema stub.</xs:documentation>
  </xs:annotation>
  <xs:element name="ErrorCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string"/>
              <xs:element name="Description" type="xs:string"/>
              <xs:element name="Family" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
