app/schemas/cra_t183_authorization_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cra-arc.gc.ca/xmlns/efile/t183/1.0"
           xmlns="http://www.cra-arc.gc.ca/xmlns/efile/t183/1.0"
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>Sample CRA T183 electronic signature schema for testing retention flows.</xs:documentation>
  </xs:annotation>
  <xs:element name="T183Authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TaxpayerSINMasked" type="xs:string"/>
        <xs:element name="TaxpayerName">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FirstName" type="xs:string"/>
              <xs:element name="LastName" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxpayerDOB" type="xs:date"/>
        <xs:element name="Signature">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SignedAt" type="xs:dateTime"/>
              <xs:element name="ExpiresAt" type="xs:dateTime"/>
              <xs:element name="IPAddress" type="xs:string" minOccurs="0"/>
              <xs:element name="UserAgentHash" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Consent" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocumentPath" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
